<div class="ui inverted blue menu">
    <a href="/" class="item">Home</a>
    <a href="/resources" class="item">Resources</a>
    <a href="/api" class="item">API</a>
    <a href="/how_to_use" class="item">How to using</a>
    <a href="/contact" class="item" target="_blank">Contact</a>

    <div class="right menu">
        {% if user_insession %}
            <a href="/user" class="item">Hello {{ user_insession }}</a>
            <a href="/logout" class="item">Logout</a>
        {% else %}
            <a href="/login" class="item">Login</a>
            <a href="/register" class="item">Register</a>
        {% endif %}       
    </div>
</div>
