{% extends 'base.html' %}

{% block title %}Login page{% endblock  %}

{% block body %}
<h3 class="ui red center aligned header">
  {% with messages = get_flashed_messages()  %}
      {% if messages %}
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      {% endif %}
  {% endwith %}
</h3>
<h3 class="ui center aligned header">If you don't have an account, <a href="/register" title="Register">register here!</a><h3>
<div class="ui middle aligned center aligned grid">
    <form class="ui large form" method="post">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user circle icon"></i>
              <input type="text" name="username" maxlength="30" placeholder="Username" required>
            </div>            
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" maxlength="30" placeholder="Password" required>
            </div>
          </div>
            <button class="fluid ui blue button" type="submit">LOGIN</button>
        </div>        
    </form>
</div>
{% endblock  %}