{% extends 'base.html' %}

{% block title %}Resources{% endblock %}

{% block body %}
    <h1 class="ui center aligned header">WEB APPLICATION</h1>
    <h2 class="ui center aligned header">To do list</h2>
    <div class="ui main text container segment">
        <h3>INFORMATION</h3>
        <ul class="ui list">
            <li>Python version: <a href="https://www.python.org/downloads/release/python-379/" target="_blank"><b>Python 3.7.9</b></a></li>
            <li>Web framework: <a href="https://flask.palletsprojects.com/en/2.1.x/" target="_blank"><b>Flask</b></a></li>
            <li>Database: <b>sqlite</b></li>    
            <li>Tool support: <a href="https://sqlitebrowser.org/" target="_blank"><b>DB Browser for SQLite</b></a></li>
            <li>IDE: <a href="https://code.visualstudio.com/Download" target="_blank"><b>Visual Studio Code</b></a></li>
            <li>Source code: <a href="https://github.com/newtc22222/JOB_LIST_APP" target="_blank"><b>Github</b></a></li>
            <li>Web deploy: <a href="https://render.com/" target="_blank"><b>render</b></a></li>
        </ul>
        <div class="ui segment">
            <pre>You can use this account for admin page:
                Username: admin
                Password: admin
            </pre>
        </div>
    </div>   
{% endblock  %}